<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script type="text/javascript">
        constants = {
            signUp: '/signup',
            signIn: '/token'
        }
    </script>
    <style type="text/css">
        html, body, #app {
            height: 100%;
        }
    </style>
    <title>JustDo</title>
</head>
<body>
<div id="app"></div>
<script src="@Url.Content("~/bundle/bundle.js")"></script>
</body>
</html>