<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8" />
    <script type="text/javascript">
        constants = {
            signUp: '/SignUp',
            signIn: '/token'
        }
    </script>
    <title>JustDo</title>
</head>
<body style="height:100%">
    <div style="height:100%">
        <div style="width: 50%; height: 100%; display:inline-block"></div>
        <div id="app" style="vertical-align: top; display:inline-block"></div>
    </div>
<script src="@Url.Content("~/bundle/bundle.js")"></script>
</body>
</html>